<a href="https://colab.research.google.com/github/joaopedrofcl/Analise_de_Ativos/blob/main/analise_mdias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MODULOS UTLITIZADOS**

> Links para as documentações

1. pandas - https://pandas.pydata.org/
2. matplotlib -  https://matplotlib.org/
3. statsmodels - https://www.statsmodels.org/stable/index.html
4. yfinance - https://pypi.org/project/yfinance/

In [4]:
#O yfinace necessita ser baixado
#Caso o notebook usado seja outro, todos esses modulos precisam ser baixados
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose
import yfinance as yf

### Requisição dos dados

In [10]:
#esse comando extrai as informações de determinada ação no yahoo finance
ticket = yf.Ticker('MDIA')
#esse comando criou um data frame que  mostra o histórico dos resultodoas diarios dentro do periodo especificado
mdias_df = ticket.history(interval = '1d' , start = '2020-03-21' , end = '2021-10-28')

In [11]:
display(mdias_df)

            Open    High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-03-23  3.19   3.680  3.15   3.15     6000          0             0
2020-03-24  3.01   3.580  3.01   3.58    14800          0             0
2020-03-25  3.03   3.830  3.03   3.50     4000          0             0
2020-03-26  3.59   4.000  3.50   4.00     2600          0             0
2020-03-27  4.00   4.000  4.00   4.00        0          0             0
...          ...     ...   ...    ...      ...        ...           ...
2021-10-21  7.77   9.170  7.71   8.03  1024400          0             0
2021-10-22  8.17  10.361  8.02   8.92  1766200          0             0
2021-10-25  8.99   9.340  8.49   8.58   361900          0             0
2021-10-26  8.53   8.827  8.18   8.36   176000          0             0
2021-10-27  8.35   8.500  8.08   8.25    86700          0             0

[405 rows x 7 columns]

## Decomposição dos Dados